<div class="row">
   <div class="paddingBlock">
    <div class="equalHMRWrap eqWrap">
      <% @books.each do |book| %>
        <div class="equalHMR eq panel">
          <div class="row" style="height: 78%;">
            <h3><%= truncate(book.title,:length => 70) %></h3>
            <p><b style="font-size: 10px;"><%= book.user.fullname %></b></p>
            <p><%= truncate(book.description,:length => 200) %></p>
            <label for="">R$ <%= book.price %></label>
          </div>
          <div class="row">
          <%= link_to "Comprar", new_order_url(book_id: book.id),:class => "btn btn-success"%>
          </div>  
        </div>
      <% end %>
    </div>
</div>
</div>
