<div class="row">
  <!--<% @books.each do |book| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= book.title %></h3>
		<p><b style="font-size: 10px;"><%= book.user.fullname %></b></p>
		<p><%= book.description %></p>
		<label for="">R$ <%= book.price %></label>
        <div align="center">
		    <%= link_to "Comprar", new_order_url(book_id: book.id),:class => "btn btn-success"%>	
		</div>
      </div>
    </div>
  </div>
  <% end %> -->
   <div class="paddingBlock">
    <div class="equalHMRWrap eqWrap">
      <% @books.each do |book| %>
        <div class="equalHMR eq panel">
          <div class="row" style="height: 78%;">
            <h3><%= book.title %></h3>
            <p><b style="font-size: 10px;"><%= book.user.fullname %></b></p>
            <p><%= book.description %></p>
            <label for="">R$ <%= book.price %></label>
          </div>
          <div class="row">
          <%= link_to "Comprar", new_order_url(book_id: book.id),:class => "btn btn-success"%>
          </div>  
        </div>
      <% end %>
    </div>
</div>
</div>
