<%= simple_form_for(book) do |f| %>
  <%= f.error_notification %>
 
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :book_file, as: :file %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
