<!DOCTYPE html>
<html>
  <head>
    <title>BlockPub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Meus livros", books_url %> | 
  	<%= link_to "Minhas compras", orders_url %> |

  	<div class="container">
    	<%= yield %>
    </div>
  </body>
</html>
